<!-- Contact Section -->
<section id="contact">
	<div class="container">
		<div class="row">
			<div class="col-lg-2 text-center">
			</div>
			<div class="col-lg-8 text-center">
				<h2 class="section-heading">Contact Us</h2>
				<h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</h3>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-12">
				<div class="row">
					<div class="col-md-6 col-sm-6">
						{{#if isSubmitted}}
							<div class="panel panel-success">
								<div class="panel-heading">
									<h3 class="panel-title">
										Thank you for contacting us.
									</h3>
									<p>
										We have received your enquiry and will respond to you within 24 hours.  For urgent enquiries please call us on telephone numbers .
									</p>
								</div>
							</div>  
						{{else}}
							<div id="form-container">
								<form name="sentMessage">
									<div class="form-group">
										{{input type="text" class="form-control" placeholder="Your Name" id="name" value=name}}
										{{#if showErrors}}
											<p class="help-block text-danger">{{errors.name}}</p>
										{{/if}}
									</div>
									<div class="form-group">
										{{input type="email" class="form-control" placeholder="Your Email" id="email" value=email }}
										{{#if showErrors}}
											<p class="help-block text-danger">{{errors.email}}</p>
										{{/if}}
									</div>
									<div class="form-group">
										{{input type="tel" class="form-control" placeholder="Your Phone" id="phone" value=phone}}
										{{#if showErrors}}
											<p class="help-block text-danger">{{errors.phone}}</p>
										{{/if}}	
									</div>
									<div class="form-group">
										{{textarea class="form-control" placeholder="Brief description of your requirement..." id="message" value=description }}
										{{#if showErrors}}
											<p class="help-block text-danger">{{errors.description}}</p>
										{{/if}}
									</div>
									<div class="form-group submit-contact-button">
										<button  {{action "submitContact"}} type="submit" class="btn-contact">Submit</button>
									</div>
								</form>
							</div>
						{{/if}}
					</div>
					<div class="col-md-3 col-sm-3">
						<h4 class="service-heading">Address</h4>
						<p class="text-muted"> <i class="fa fa-map-marker"></i>
							307 5th Ave, 16th Floor <br>
							 New York, NY 10016
						</p>
						<h4 class="service-heading">Phone</h4>
						<p class="text-muted"> 
							<i class="fa fa-phone"></i> 212-222-1234
						</p>
						<h4 class="service-heading">Fax</h4>
						<p class="text-muted"> 
							<i class="fa fa-fax"></i> 212-630-7862
						</p>    
					</div>
					<div class="col-md-3 col-sm-3">
						<h4 class="service-heading">Email</h4>
						<p class="text-muted"> 
							<i class="fa fa-envelope"></i> info@emberdemo.com
						</p>
						<h4 class="service-heading">Connect</h4>
						<ul class="list-inline social-buttons">
							<li><a href="#"><i class="fa fa-facebook"></i></a></li>
							<li><a href="#"><i class="fa fa-twitter"></i></a></li>
							<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
							<li><a href="#"><i class="fa fa fa-pinterest-p"></i></a></li>
							<li><a href="#"><i class="fa fa-vimeo"></i></a></li>
						</ul>   
					</div>
					<div class="clearfix"></div>
				</div>
			</div>
		</div>
	</div>
</section>